@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

#logoFrutaWeb {
  width: 300px;
  height: auto;
  margin: 20px;
}

* {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #fff2d8;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.guiasHeader {
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  text-decoration: none; /* Remove default underline */
}

/* animação underline do menu ----------------------------------------------------- */
.guiasHeader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #ffa963; /* Color of the underline */
  border-radius: 2px;
  transition: width 0.3s ease; /* Smooth transition effect */
  color: #ff9f52;
}

.guiasHeader:hover::after {
  width: 100%; /* Full width on hover */
}

.guiasHeader.selected {
  color: #ff9f52;
}

.guiasHeader.selected::after {
  width: 100%; /* Full width for the selected link */
}

#guiasHeader {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  list-style-type: none;
  padding: 0;
  /* position: absolute;
  top: 50px;
  left: 450px; */
}

#carrinhoProdutor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 0px 50px 0px 0px;
}
#botaoAreaProdutor {
  background-color: #ff9f52;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 60px;
  width: 200px;
  border-radius: 100px;
  border: none;
  /* position: absolute;
  top: 35px;
  right: 50px; */
}
#addToCart {
  /* position: absolute;
  top: 55px;
  right: 350px; */
}

/* Cards Frutas--------------------------------------------*/
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  color: #190b00;
  background-color: #fff8eb;
  border-radius: 50px;
  margin: 10px;
  padding: 30px;
  width: 200px;
  height: 250px;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.fruit-img {
  width: 200px;
  mix-blend-mode: darken;
}
.quantity {
  height: 30px;
  border-radius: 100px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity-controlers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gray-button {
  background-color: #190b00;
}

.add-to-cart {
  height: 25px;
  border-radius: 0px 100px 100px 0px;
  padding: 5px 20px 0px 20px;
  background-color: gray;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart img {
  height: 20px;
}

.quantity button {
  color: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

/* Pop-up de informações nutricionais --------------------------------------------*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  z-index: 1000;
}

.popup-content {
  background-color: #fff8eb;
  max-width: 400px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 8px;
}

.no-bullets {
  list-style-type: none;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.close:hover {
  color: #aaa;
}

#textoSectionMenu {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #190b00;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
  padding-top: 50px;
}

/* Checkout - Card ----------------------------------*/
.checkout-main {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-areas: "produto dados";
}

.checkout-produto {
  grid-area: produto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order {
  grid-area: dados;
}
.checkout-totalprice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkout-valueprice {
  display: flex;
  width: max-content;
  padding: 10px;
  border-radius: 30px;
  /* align-content: flex-start; */
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #190b00;
  font-size: 30px;
  font-weight: bolder;
}
/* Checkout - Informações Cliente -------------------*/
.order {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 764px;
  align-items: flex-start;
  gap: 40px;
  padding: 30px 30px;
  position: relative;
}

.order .caixaTexto1 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #190b00;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.order .grupoInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.order .caixaInfoBox input {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0px; /* Ajuste o padding conforme necessário */
  background-color: #ffffff;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #190b00;
  position: relative;
  align-self: stretch;
  width: 580px; /* Ajuste a largura conforme necessário */
  height: 150%; /* Ajuste a altura conforme necessário */
  flex: 0 0 auto;
}

.order .caixaInfoBoxSmall input {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 0px; /* Ajuste o padding conforme necessário */
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #190b00;
  display: flex;
  position: relative;
  width: 278px; /* Ajuste a largura conforme necessário */
  height: 45px; /* Ajuste a altura conforme necessário */
}

.order .caixaInfoBox input::after,
.order .caixaInfoBoxSmall input::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #190b00;
  border-radius: 50px;
  pointer-events: none;
}

.order .textoCaixaInfoBox {
  position: relative;
  width: fit-content;
  align-self: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
.order .colunaBox {
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}
.order .buttomFramePedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  align-self: stretch;
  color: #0c0c0c;
  width: 100%;
  flex: 0 0 auto;
}

.order .sign-up {
  display: inline-flex;
  height: 79px;
  font-family: "Inter-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0px 75px;
  position: relative;
  background-color: #48883b;
  color: #f0f0f0;
  border-radius: 100px;
}
/* Footer--------------------------------------------*/
.footer {
  position: relative;
  width: 100%;
  height: 594px;
  background-color: #fff2d8;
}

.footer .guiasFooter {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #190b00;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  width: 232px;
  height: 202px;
  top: 189px;
  left: 580px;
}

.footer #guiasFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
  margin: 0;
}

.footer #guiasFooter li {
  margin-bottom: 10px;
}
.footer #guiasFooter li a {
  color: #190b00;
  text-decoration: none;
}

.footer .imagensLogoLine {
  position: absolute;
  width: 442px;
  height: 264px;
  top: 162px;
  left: 138px;
}

.footer .line {
  position: absolute;
  width: 1px;
  height: 264px;
  top: 0;
  left: 365px;
  object-fit: cover;
}

.footer .logo {
  position: absolute;
  width: 442px;
  height: 177px;
  top: 39px;
  left: 0;
  object-fit: cover;
}

.footer .p {
  position: absolute;
  width: 367px;
  top: 542px;
  left: 105px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.footer .iconesMidiaCartoes {
  position: absolute;
  width: 37px;
  height: 38px;
  top: 7px;
  left: 173px;
}
.footer .iconesMidia {
  position: absolute;
  width: 210px;
  height: 38px;
  top: 515px;
  right: 70px; /* Defina a margem desejada do canto direito */
  object-fit: cover;
  max-width: calc(
    100% - 20px
  ); /* Garante que a largura máxima seja 100% - a margem */
}
.footer .iconesCartoes {
  position: absolute;
  width: 370px;
  height: 141px;
  top: 212px;
  right: 20px;
  object-fit: cover;
  max-width: calc(
    100% - 20px
  ); /* Garante que a largura máxima seja 100% - a margem */
}
