#navIndex {
  height: 800px;
  width: 100%;
}

#navIndexTexto {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #190b00;
  width: 710px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  position: absolute;
  top: 375px;
  left: 150px;
}

#imagemFrutas {
  width: 600px;
  height: auto;
  position: absolute;
  right: 50px;
  top: 175px;
}

#botaoCompreAgora {
  background-color: #ff9f52;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: 100px;
  width: 300px;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 637px;
  left: 150px;
}

/* Seçao dos cards --------------------------------- */

#menuIndex {
  height: 800px;
  width: 100%;
  background-color: #fff2d8;
}

#textoSectionMenu {
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #190b00;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.container-cards {
  top: 50px;
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  justify-content: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 10px;
  overflow-x: hidden;
  width: 85%;
}

.arrow {
  position: absolute;
  top: 1350px;
  transform: translateY(-50%);
  cursor: pointer;
  background: #ffffff;
  padding: 30px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bolder;
}
.arrow-left {
  left: 30px;
}
.arrow-right {
  right: 30px;
}

.botaoMenos,
.botaoMais {
  background-color: rgb(255, 255, 255);
  border: none;
}

#setaEsq {
  position: absolute;
  left: 0px;
  top: 1300px;
}

#setaDir {
  position: absolute;
  right: 0px;
  top: 1300px;
}

#botaoVerMais {
  background-color: #407536;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: 100px;
  width: 300px;
  border-radius: 100px;
  border: none;
  position: relative;
  left: 150px;
  top: 100px;
}

/* seção info ------------------------------- */

.info {
  height: 800px;
  background-color: white;
  position: relative;
  z-index: 1;
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

#infoText {
  width: 800px;
  height: 902px;
  position: relative;
  top: 150px;
  left: 100px;
}
#imgInfoKiwi {
  height: 200px;
  width: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#imgInfoMaca {
  transform: rotateX("22deg");
  height: 250px;
  width: auto;
  position: absolute;
  right: 200px;
  top: 150px;
  z-index: -1;
}

#imgInfoMorango {
  transform: rotateY("22deg");
  height: 150px;
  width: auto;
  position: absolute;
  right: -4px;
  top: 360px;
  z-index: -1;
}

#imgInfoBanana {
  height: 150px;
  width: auto;
  position: absolute;
  right: 200px;
  top: 550px;
  z-index: -1;
}

#botaoCompreAgoraInfo {
  background-color: #407536;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: 100px;
  width: 300px;
  border-radius: 100px;
  border: none;
  position: relative;
  left: 100px;
  bottom: 300px;
}

/* seção diferenciais ------------------------------ */

#diferenciais {
  background-color: #fff2d8;
  height: 900px;
}

#textoDiferenciais {
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 70px;
  font-weight: 500;
  width: 570px;
  position: relative;
  top: 200px;
  left: 100px;
}

#logoTabela {
  height: 55px;
  width: auto;
  position: relative;
  top: 0px;
  /* left: -50px; */
}

#tabela {
  position: absolute;
  z-index: index 0;
  height: 400px;
  width: auto;
  right: 200px;
  top: (3400-900) px;
}

/* table {
  width: 600px;
  position: absolute;
  right: 290px;
  top: (3375-900) px;
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 5px;
}

th,
td {
  text-align: left;
  height: 65px;
  padding-left: 35px;
}

.column1 {
  width: 500px;
}

th img,
td img {
  height: 30px;
} */

table {
  border-collapse: collapse;
  width: 50%;
  position: absolute;
  right: 200px;
  border: 5px solid #fff2d8;
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensure rounded corners are applied properly */
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

th,
td {
  text-align: center;
  padding: 10px;
  border: 5px solid #fff2d8;
}
.column1 {
  text-align: start;
}

img {
  display: block;
  margin: auto; /* Centering the image */
}

#buttonTable {
  background-color: #407536;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: 100px;
  width: 300px;
  border-radius: 100px;
  border: none;
  position: relative;
  top: 300px;
  left: 100px;
}

/* .nao img {
  position: relative;
  left: 40px;
  height: 20px;
} */

#end {
  height: 50px;
  background-color: white;
}
