.menu-body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1fr auto 1fr;
  /* grid-template-rows: auto; */
  height: 100vh;
  /* Ensure the grid takes up the full viewport height */
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  /* overflow-y: auto;  */
  /* Allow vertical scrolling if content exceeds the height */
}

.footer {
  grid-area: footer;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .menu-body {
    grid-template-rows: auto; /* Let the rows adjust automatically */
  }
}
