@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #fff2d8;
  height: 175 px;
  width: 100%;
}

.guiasHeader {
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

#logoFrutasWeb {
  width: 337px;
  height: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
header {
  background-color: #fff2d8;
  height: 175px;
  width: 100%;
}

.guiasHeader {
  color: #190b00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

#guiasHeader {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 450px;
}

#logoFrutasWeb {
  width: 337px;
  height: auto;
  position: absolute;
  top: 35px;
  right: 15px;
}

#botaoAreaProdutor {
  background-color: #ff9f52;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  height: 80px;
  width: 260px;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 35px;
  right: 50px;
}
#addToCart {
  position: absolute;
  top: 55px;
  right: 350px;
}

/* Login--------------------------------------------*/
nav {
  background-color: #fff2d8;
}

.telaLogin {
  text-align: center;
  background-color: #fff2d8;
  border-style: none;
  border-radius: 10px;
  width: 850px;
  align-content: center;
  margin: auto;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.telaLogin input {
  padding-inline-start: 16rem;
  padding-inline-end: 16rem;
  height: 50px;
  background-color: #ffffff;
  border-radius: 6px;
  border-style: none;
}

.telaLogin button {
  padding-inline-start: 10rem;
  padding-inline-end: 10rem;
  height: 40px;
  background-color: #407536;
  border-radius: 6px;
  border-style: none;
}

.footerTeste .footer {
  background-color: #fff2d8;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding-inline-start: 400px;
  height: 35px;
}

.footerTeste .icones {
  width: 180px;
  display: flex;
  padding-inline-start: 70rem;
}

.footerTeste .redeSocial {
  padding-inline-start: 75rem;
}

.allRights {
  font-size: 22px;
}
/* Login--------------------------------------------*/

/* Menu--------------------------------------------*/
.card {
  color: #190b00;
  background-color: #fff8eb;
  border-radius: 50px;
  margin: 10px;
  padding: 30px;
  width: 200px;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.fruit-img {
  width: 200px;
  background-color: white; /* Background color for blending effect */
  background-blend-mode: multiply;
}
.quantity {
  height: 30px;
  border-radius: 100px;
  margin-top: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity-controlers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.add-to-cart {
  height: 25px;
  border-radius: 0px 100px 100px 0px;
  padding: 5px 20px 0px 20px;
  background-color: #190b00;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-to-cart img {
  height: 20px;
}

.quantity button {
  color: ;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Footer--------------------------------------------*/
.footer {
    position: relative;
    width: 100%;
    height: 594px;
    background-color: #fff2d8;
  }
    
.footer .guiasFooter {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #190b00;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    width: 232px;
    height: 202px;
    top: 189px;
    left: 580px;
}
    
.footer #guiasFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
    margin: 0;
}
    
.footer #guiasFooter li {
    margin-bottom: 10px;
}
.footer #guiasFooter li a{
    color: #190b00;
    text-decoration: none;
}

.footer .imagensLogoLine {
    position: absolute;
    width: 442px;
    height: 264px;
    top: 162px;
    left: 138px;
}
    
.footer .line {
    position: absolute;
    width: 1px;
    height: 264px;
    top: 0;
    left: 365px;
    object-fit: cover;
}

.footer .logo {
    position: absolute;
    width: 442px;
    height: 177px;
    top: 39px;
    left: 0;
    object-fit: cover;
}
    
.footer .p {
    position: absolute;
    width: 367px;
    top: 542px;
    left: 105px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}        
.footer .iconesMidiaCartoes {
    position: absolute;
    width: 37px;
    height: 38px;
    top: 7px;
    left: 173px;
}
.footer .iconesMidia {
    position: absolute;
    width: 210px;
    height: 38px;
    top: 515px;
    right: 70px; /* Defina a margem desejada do canto direito */
    object-fit: cover;
    max-width: calc(100% - 20px); /* Garante que a largura máxima seja 100% - a margem */
}
.footer .iconesCartoes {
    position: absolute;
    width: 370px;
    height: 141px;
    top: 212px;
    right: 20px;
    object-fit: cover;
    max-width: calc(100% - 20px); /* Garante que a largura máxima seja 100% - a margem */
}
